version: '3.4'
services:
  postgis:
    build:
      context: .
      dockerfile: Dockerfile.postgis
    image: postgis
    ports:
      - $HOST_POSTGRES_PORT:5432
    environment:
      - POSTGRES_PASSWORD
      - PGDATA
    volumes:
      - /d/gisdata:/gisdata
      - /d/pgdata:/var/lib/postgresql/data/pgdata
