asn1crypto==0.24.0
beautifulsoup4==4.6.0
certifi==2022.12.7
cffi==1.11.5
chardet==3.0.4
cryptography==2.3
idna==2.7
pycparser==2.18
pyOpenSSL==18.0.0
PySocks==1.6.8
requests==2.20.0
six==1.11.0
urllib3==1.24.2
win-inet-pton==1.0.1
wincertstore==0.2
